<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aula de PW II</title>
</head>
<body bgcolor="#8a2be2">
<form action="/usuarios/salvar" method="post">
    Nome:
    <input type="text" name="nome"/>

    Aniversario
    <input type="date" name="aniversario"/>

    <input type="submit" value="salvar">
    <div class="tabela">
        <table>
            <thead>
            <tr>
                <th>Nome</th>
                <th>Aniversário</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
            </thead>
            <tbody>
            {% for usuarios in obj %}
            <tr>
                <td>{{usuarios.nome}}</td>
                <td>{{usuarios.data}}</td>
                <td> <a href="#">Editar</a></td>
                <td> <a href="{{url_for('delete_usuarios', id=usuarios.id)}}">Excluir</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</form>
</body>
</html>